<template>
  <div>
    <canvas ref="drawingCanvas" id="cfd"></canvas>
    <canvas ref="scaledCanvas" id="scaled" width="28" height="28"></canvas>

    <button v-on:click="this.submit">Submit</button>
    <button v-on:click="this.clear">Clear</button>

    <fusioncharts
      :type="type"
      :width="width"
      :height="height"
      :dataFormat="dataFormat"
      :dataSource="dataSource"
    ></fusioncharts>
  </div>
</template>

<script>
  import CanvasFreeDrawing from 'canvas-free-drawing'

  export default {
    name: 'App',
    data: () => {
      return {
        cfd: 0,
        width: '40%',
        height: '200',
        type: 'column2d',
        dataFormat: 'json',
        dataSource: {
          "chart": {
            "xAxisName": "Number",
            "theme": "fusion"
          },
          "data": [
            {
              "label": "0",
              "value": "0"
            },
            {
              "label": "1",
              "value": "0"
            },
            {
              "label": "2",
              "value": "0"
            },
            {
              "label": "3",
              "value": "0"
            },
            {
              "label": "4",
              "value": "0"
            },
            {
              "label": "5",
              "value": "0"
            },
            {
              "label": "6",
              "value": "0"
            },
            {
              "label": "7",
              "value": "0"
            },
            {
              "label": "8",
              "value": "0"
            },
            {
              "label": "9",
              "value": "0"
            }
          ]
        }
      }
    },
    mounted() {
      this.cfd = new CanvasFreeDrawing({ elementId: 'cfd', width: 112, height: 112 })
      const drawingCanvas = this.$refs.drawingCanvas.getContext('2d');
      const canvas = this.$refs.scaledCanvas.getContext('2d');

      drawingCanvas.save();
      canvas.save();
    },
    methods: {
      submit() {
        const canvas = this.$refs.scaledCanvas;
        const cfd = this.cfd;
        const ctx = canvas.getContext('2d');
        ctx.drawImage(cfd.canvas, 0, 0, 28, 28);

        const canvasContents = canvas.toDataURL();
        const data = { image: canvasContents, date: Date.now() };
        const string = JSON.stringify(data);

        this.$http.post('http://localhost:3000/api/v1/recognize', {
          headers: {
            'Content-Type': 'application/json'
          },
          data: string
        })
          .then((result) => {
            console.log(result);
            this.dataSource.data[0].value = result.data[0];
            this.dataSource.data[1].value = result.data[1];
            this.dataSource.data[2].value = result.data[2];
            this.dataSource.data[3].value = result.data[3];
            this.dataSource.data[4].value = result.data[4];
            this.dataSource.data[5].value = result.data[5];
            this.dataSource.data[6].value = result.data[6];
            this.dataSource.data[7].value = result.data[7];
            this.dataSource.data[8].value = result.data[8];
            this.dataSource.data[9].value = result.data[9];
          })
      },
      clear() {
        // Dump fix since canvases are quite shit.
        location.reload()
        /*const drawingCanvas = this.$refs.drawingCanvas.getContext('2d');
        const canvas = this.$refs.scaledCanvas.getContext('2d');

        drawingCanvas.restore();
        canvas.restore();*/
        /*drawingCanvas.clearRect(0, 0, 112, 112)
        canvas.clearRect(0, 0, 28, 28)*/
      }
    }
  }
</script>

<style>
  canvas {
    border: 1px solid #000;
  }
</style>
